<h1>Marketplace<h1>

<p>Welcom</p>

<h1 class="md-4"><%= I18n.t(:categories) %><h1>

<% @categories.each do |category| %>
  <article class="card mt-3">
    <div class="card-body">
      <%= link_to "#{category.title}", category_path(category), class: 'btn btn-primary' %>
    </div>
  </article>
<% end %>

<footer>
  &copy; @Mihail <%= Time.now.year %>
</footer>
