<h1 class="md-4"><%= t('.title') %><h1>

<% @categories.each do |category| %>
  <article class="card mt-3">
    <div class="card-body">
      <%= link_to "#{category.title}", category_path(category), class: 'btn btn-primary' %>
    </div>
  </article>
<% end %>
