<h1><%= t('.title') %></h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to t('global.button.back'), products_path(category_id: @product.category.id), class: 'btn btn-primary' %>
</div>
